<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editar informações de análise</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
        <link th:href="@{/claro.css}" th:if="${tema == 'claro'}" rel="stylesheet" />
        <link th:href="@{/escuro.css}" th:if="${tema == 'escuro'}" rel="stylesheet" />
        
    </head>
    <body th:class="${tema == 'claro' ? 'tema-claro' : 'tema-escuro'}">

        <h2>Edição da Análise</h2>
        <br/>

        <form th:action="@{/atualizar_analise}" th:object="${analise}" method="post">

            <!-- Campo oculto com ID da análise -->
            <input type="hidden" th:field="*{id}" />

            <!-- Campo oculto com ID do filme -->
            <input type="hidden" th:field="*{filme.id}" />

            <p>Análise: <input type="text" th:field="*{analise}" /></p>
            <p>Nota: <input type="number" min="0" max="10" th:field="*{nota}" /></p>

            <p><input type="submit" value="Salvar alterações" /></p>
        </form>

        <!-- Excluir análise -->
        <form th:action="@{/excluir_analise/{id}(id=${analise.id})}" method="post">
            <button type="submit">Excluir análise</button>
        </form>

        <br/>
        <a th:href="@{/lista_filmes}">
            <button type="button">← Voltar para a lista</button>
        </a>

    </body>
</html>
