<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Análises</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <link th:href="@{/claro.css}" th:if="${tema == 'claro'}" rel="stylesheet" />
        <link th:href="@{/escuro.css}" th:if="${tema == 'escuro'}" rel="stylesheet" />
        
    </head>
    <body th:class="${tema == 'claro' ? 'tema-claro' : 'tema-escuro'}">
        
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Filme</th>
                <th>Comentário</th>
                <th>Nota</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="analise : ${analises}">
                <td th:text="${analise.id}"></td>
                <td>
                    <a th:href="@{/filme/{id}(id=${analise.filme.id})}" th:text="${analise.filme.titulo}"></a>
                </td>
                <td th:text="${analise.analise}"></td>
                <td th:text="${analise.nota}"></td>
                <td>
                    <a th:href="@{/analise/editar/{id}(id=${analise.id})}">Editar</a> |
                    <a th:href="@{/analise/excluir/{id}(id=${analise.id})}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
        
    </body>
</html>
