<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Filmes</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
        
    </head>
    <body>
        <h1>Filmes Cadastrados</h1>
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Sinopse</th>
                    <th>Gênero</th>
                    <th>Ano Lançamento</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="filme : ${filmes}">
                    <td th:text="${filme.id}" ></td>
                    <!-- <td th:text="${filme.titulo}" ></td> -->
                    
                    <td>
  <a th:href="@{/analise/{id}(id=${filme.id})}" th:text="${filme.titulo}"></a>
</td>

                    <td th:text="${filme.sinopse}" ></td>
                    <td th:text="${filme.genero}" ></td>
                    <td th:text="${filme.lancamento}" ></td>
                </tr>
            </tbody>
        </table>
       <br/>
      
       <a href="/cadastrar">
           <button type="button">Cadastrar Novo Filme</button>
       </a>
        
       
    </body>
</html>
