<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Filmes</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

        <link th:href="@{/claro.css}" th:if="${tema == 'claro'}" rel="stylesheet" />
        <link th:href="@{/escuro.css}" th:if="${tema == 'escuro'}" rel="stylesheet" />

    </head>

    <body th:class="${tema == 'claro' ? 'tema-claro' : 'tema-escuro'}">
        <h1>Filmes Cadastrados</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Sinopse</th>
                    <th>Gênero</th>
                    <th>Ano Lançamento</th>
                    <th>Análise</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="filme : ${filmes}">
                    <td th:text="${filme.id}" ></td>

                    <td>
                        <a th:href="@{/filme/{id}(id=${filme.id})}" th:text="${filme.titulo}"></a>
                    </td>

                    <td th:text="${filme.sinopse}" ></td>
                    <td th:text="${filme.genero}" ></td>
                    <td th:text="${filme.lancamento}" ></td>


                    <td th:text="${filme.analise?.analise}">Sem análise</td>
                    <td th:text="${filme.analise?.nota}">-</td>

                </tr>
            </tbody>
        </table>
        <br/>

        <a href="/cadastrar">
            <button type="button">Cadastrar Novo Filme</button>
        </a>

    </body>
</html>
