<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Detalhes do Filme</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link th:href="@{/claro.css}" th:if="${tema == 'claro'}" rel="stylesheet" />
        <link th:href="@{/escuro.css}" th:if="${tema == 'escuro'}" rel="stylesheet" />

    </head>
    <body th:class="${tema == 'claro' ? 'tema-claro' : 'tema-escuro'}">

        <h2>Detalhes do Filme</h2>
        <br/>

        <div>
            <strong>ID:</strong>
            <span th:text="${filme.id}"></span>
        </div>
        <div>
            <strong>Título:</strong>
            <span th:text="${filme.titulo}"></span>
        </div>

        <div>
            <strong>Sinopse:</strong>
            <p th:text="${filme.sinopse}"></p>
        </div>

        <div>
            <strong>Gênero:</strong>
            <span th:text="${filme.genero}"></span>
        </div>

        <div>
            <strong>Ano de Lançamento:</strong>
            <span th:text="${filme.lancamento}"></span>
        </div>

        <!-- Análise -->
        <div th:if="${filme.analise != null}">
            <h3>Análise do Filme</h3>
            <div>
                <strong>Análise:</strong>
                <p th:text="${filme.analise.analise}"></p>
            </div>
            <div>
                <strong>Nota:</strong>
                <span th:text="${filme.analise.nota}"></span>
            </div>
            <br/><br/>

            <!-- Botão para editar análise -->
            <a th:href="@{/editar_analise/{id}(id=${filme.analise.id})}">
                <button type="button">Editar Análise</button>
            </a>
        </div>

        <!-- Caso não tenha análise -->
        <div th:if="${filme.analise == null}">
            <p><strong>Sem análise.</strong></p>

            <!-- Botão para adicionar análise -->
            <a th:href="@{/analise/{id}(id=${filme.id})}">
                <button type="button">Adicionar Análise</button>
            </a>
        </div>
        <br/>

        <!-- Botão para voltar para a lista -->
        <a href="/lista_filmes">
            <button type="button">← Voltar para a lista</button>
        </a>

        <!-- Botão para editar informações do filme -->
        <a th:href="@{/editar_filme/{id}(id=${filme.id})}">
            <button type="button">Editar informações do filme</button>
        </a>

        <!-- Formulário para excluir filme -->
        <br/><br/>
        <form th:action="@{/excluir-filme/{id}(id=${filme.id})}" method="post">
            <button type="submit">Excluir Filme</button>
        </form>

    </body>
</html>
